.navigation__element
{
    text-decoration: none;
}

.navigation__element:visited
{
    color: black;
}

.navigation__element:hover{
    border-style: solid;
    border-radius: 2px;
    border-color: black;
}