@media screen and (max-height: 600px)
{
    div .game_cards_selection{
        flex-wrap: nowrap;
        justify-content: start;
    }
}

.game_cards_selection_hidden{
    display: none;

}

.game_cards_selection{
    overflow-x: scroll;
    overflow-y: hidden;
    list-style-type: none;
    scrollbar-width: none;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 10px;
}

.game_cards_selection_shown{
    display: flex;
}

.game_cards_selection::-webkit-scrollbar
{
    width: 0;
    height: 0;
}