.news_feed__description
{
    word-break: break-word;
    box-sizing: border-box;
    text-overflow: ellipsis;
    font-size: 2em;
    overflow: hidden;
    margin: 5px;
    text-align: center;
    display: flex;
    align-items: start;
}